.patterns {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: #000;
}

svg {
  padding-bottom: 150px;
}

svg text {
  letter-spacing: 5px;
  stroke: #f9f6f8;
  font-size: 55px;
  font-weight: 700;
  stroke-width: 1.5;
  animation: textAnimate 3s infinite alternate;
  margin-top: 0px;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: hsl(180, 25%, 80%)
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: #fff
  }

}